<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<h1><%= t('books.title') %></h1>

<div id="books">
  <% if @books.any? %>
    <% @books.each do |book| %>
      <%= render book %>
      <p>
        <%= link_to t('books.show'), book %>
      </p>
    <% end %>
  <% else %>
    <p><%= t('hello') %></p>
  <% end %>
</div>

<%= link_to t('books.new'), new_book_path %>
